.motivation {
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
#mike {
    border: solid white 5px;
    width: 100%;
    margin: 20px;
}
body {
    background-color: black;
}
#title {
    text-transform: uppercase;
    font-size: 3rem;
}
#quote {
    font-size: 20px;
}